@font-face {
    font-family: 'Aventa';
    src: url('~/assets/fonts/Aventa-Regular.woff2');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Gelion';
    src: url('~/assets/fonts/Gelion Light.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Gelion';
    src: url('~/assets/fonts/Gelion Medium.ttf');
    font-style: normal;
    font-weight: 500;
}
